<h1>New movie</h1>

<div class="form-container">
  <%= render "form", movie: @movie %>
</div>
<br>

<div class="movie-actions">
  <%= link_to "Back to movies", movies_path(sort: session[:sort], 
              direction: session[:direction] == 'asc' ? 'asc' : 'desc'), class: 'btn btn-back' %>
</div>
